---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroCarousel from '../components/sections/home/HeroCarousel.tsx';
import BearGardensIntro from '../components/sections/home/BearGardensIntro.astro';
import PastEvents from '../components/sections/home/PastEvents.astro';
import BearGardenDetails from '../components/sections/home/BearGardenDetails.astro';
---

<BaseLayout title="Home">
	<main id="main" class="min-h-0 flex-1 outline-none">
		<div class="w-full">
			<HeroCarousel client:load />
		</div>
		<BearGardensIntro />
		<PastEvents />
		<BearGardenDetails />
	</main>
</BaseLayout>
